<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <b> INGRESO</b>
        </div>
        <div class="card-body p-4">
            <label style="float: center;">Email</label>
            <input class="form-control m-2" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">

            <label style="float: center;">Password</label>
            <input style="float: center;" class="form-control m-2" type="password" placeholder="ingrese su password " [(ngModel)]="usuario.password">

            <button class="btn btn-primary btn-block m-4" (click)="Ingresar()" style="float:center">Ingresar</button>
            <label style="float: center;">Aun no tienes cuenta? <a routerLink="/registro">Registrarse</a></label>
        </div>


    </div>
</div>