<header>
    <div class="navbar navbar-dark bg-dark">
        <div class="navbar-brand align-item-center d-flex">
            <i class="fad fa-cart-plus">

            </i>
            <strong style=" font-size: 30px; ">SmartShop</strong>
            <div class="form-group ">
                <input type="text " class="form-control " [(ngModel)]="searchTerm " (keyup)="search($event) " placeholder="Buscar Productos ">
            </div>


        </div>
        <div ngbDropdown class="d-inline-block" *ngIf="userLogged|async as user; else LoginButton">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                <img style="border-radius: 100%;" *ngIf="user.photoURL" src="{{user.photoURL}}" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                {{user.email}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem routerLink="/panelDeControl">Panel de control</button>
                <button ngbDropdownItem routerLink="/login" (click)="logOut()">Salir</button>
            </div>
        </div>
        <ng-template #LoginButton>
            <button class="btn btn-primary" routerLink="/login"> Ingresar</button>
        </ng-template>
        <button routerLink="carrito" class="btn btn-primary" style="margin-right: 50px;">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>