<header>
    <div class="navbar navbar-dark bg-dark">
        <div class="navbar-brand align-item-center d-flex">
            <i class="fad fa-cart-plus">

            </i>
            <strong style=" font-size: 30px; ">SmartShop</strong>
            <div class="form-group ">
                <input type="text " class="form-control " [(ngModel)]="searchTerm " (keyup)="search($event) " placeholder="Buscar Productos ">
            </div>


        </div>
        <button routerLink="carrito" class="btn btn-primary" style="margin-right: 50px;">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>